*{

}
html {
    scroll-behavior: smooth;
  }
body {
    background-color: black;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 0.5em;
    color: white;
}
a {
    text-decoration: none;
}
ul {
    font-size: 21px;
    list-style-type: none;
    margin: none;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
li {
    margin-left: 5vw;
}
.main {
    display: flex;
    flex-direction: row;
}
.nav {
    width: 27vw;
    height: 100vh;
    list-style: none;
    position: fixed;
}
.navlist {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: white;
}

.normal {
    font-style: normal;
    margin-right: 3vw;
}
.ducky {
    width: 6vw;
    margin: 5vw;
    margin-right: 15vw;
    margin-bottom: 67px;
}
.content {
    font-size: 70px; 
    margin-left: 20vw;
}
.herocontainer {
    display: flex;
}
.herocontainer img {
    height: 250px;
    width: 250px;
    padding-top: 22vh;
    padding-left: 100px;
}
.hero {
    font-family: "ivypresto-display", serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    width: fit-content;
    padding-top: 22vh;
    font-size: 0.7em;
}
.hero span {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1em;
    color: white;
}
hr{
    width: 20vw;
    margin: 0;
    margin-top: -20px;
}
p{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 0.3em;
    color: white; 
}
.imgcontainer img {
    width: 48%;
}
.imgcontainerux {
    display: flex;
    flex-direction: column;
    width: 80vw;
 
}
.imgcontainerux img{
    transform: scale(0.8);
    float: left;
}
#img {
    object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }

  .bio {
    display: flex;
    flex-direction: row;
    padding-right: 100px;
  }

  .bioimg {
    width: 35vw;
  }

  h4 {
    padding-top: 35px;
    color: white;
    font-size: 0.3em;
    font-family: "IBM Plex Sans", sans-serif;
  }

  h5 {
    color: rgb(255, 226, 0);
  }
  
h6 {
    margin-right: 5vw;
    color: white;
}

  .text {
    font-size: 10vw;
    letter-spacing: -.01em;
    line-height: 100%;
    margin: 0;
    
    width: 100%;
    color: rgb(182, 182, 182, 0.2);
    background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
    
  
    border-bottom: 1px solid #2F2B28;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  
  span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 226, 0);
    color: #0D0D0D;
    
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transform-origin: center;
    transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .text:hover > span {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  .smaller {
    font-size: 5vw;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .smallest {
    font-size: 2vw;
    margin-top: 30px;
  }
  .smaller .red {
    background-color: rgb(255, 108, 235); font-size: 3vw;
  }
  .smaller .green {
    background-color: rgb(11, 255, 96); font-size: 3vw;
  }

  .smaller .yellow {
    background-color: rgb(255, 226, 0); font-size: 3vw;
  }

  form label {
    color: white;
    font-size: 0.5em;
  }

  .email {
    font-size: 0.6em;
    font-family: "IBM Plex Sans", sans-serif;

  }
  .posterui img{
    width: 90%;
  }

  /*  */

  /*  */

  @media only screen and (min-width: 300px) and (max-width: 360px){
    .container {
        height: 43vh;
    }
    .content {
        margin-left: 29vw;
    }
    .content img{
        width: 90%;
    }
    .email {
        font-size: 5px;
        font-family: "IBM Plex Sans", sans-serif;
    }
    .ducky {
        width: 16vw;
        margin: 5vw;
        margin-right: 15vw;
        margin-bottom: 27px;
    }
}

  @media only screen and (min-width: 360px) and (max-width: 390px){
    .container {
        height: 50vh;   
    }
    .content {
        margin-left: 29vw;
    }
    .content img{
        width: 90%;
    }
    .email {
        font-size: 0.3em;
        font-family: "IBM Plex Sans", sans-serif;
    }
    .ducky {
        width: 16vw;
        margin: 5vw;
        margin-right: 15vw;
        margin-bottom: 27px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 490px){
    .container {
        height: 50vh;   
    }
    .content {
        margin-left: 29vw;
    }
    .content img{
        width: 90%;
    }
    .email {
        font-size: 0.3em;
        font-family: "IBM Plex Sans", sans-serif;
    }
    .ducky {
        width: 16vw;
        margin: 5vw;
        margin-right: 15vw;
        margin-bottom: 27px;
    }
}
@media only screen and (min-width: 490px) and (max-width: 590px){
    .container {
        height: 58vh;
    }
    .content {
        margin-left: 29vw;
    }
    .content img{
        width: 90%;
    }
    .email {
        font-size: 0.3em;
        font-family: "IBM Plex Sans", sans-serif;
    }
    .ducky {
        width: 16vw;
        margin: 5vw;
        margin-right: 15vw;
        margin-bottom: 27px;
    }
}
@media only screen and (min-width: 590px) and (max-width: 800px){
    .container {
        height: 58vh;
    }
    .content {
        margin-left: 29vw;
    }
    .content img{
        width: 90%;
    }
    .email {
        font-size: 0.3em;
        font-family: "IBM Plex Sans", sans-serif;
    }
    .ducky {
        width: 16vw;
        margin: 5vw;
        margin-right: 15vw;
        margin-bottom: 27px;
    }
}
/*  */ 

.containerstats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 8vw;
}

.statistic-section {
    padding-top: 70px;
    padding-bottom: 70px;
    
}

.count-title {
   font-size: 50px;
   font-weight: normal;
   margin-top: 10px;
   margin-bottom: 0;
     text-align: center;
     font-weight: bold;
   color: rgb(255, 226, 0);
}

.stats-text {
   font-size: 15px;
   font-weight: normal;
   margin-top: 15px;
   margin-bottom: 0;
   text-align: center;
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
}

.stats-line-black {
   margin: 12px auto 0;
   width: 55px;
   height: 2px;
   background-color: #fff;
}
.stats-icon {
     font-size: 35px;
     margin: 0 auto;
   float: none;
   display: table;
   color: #fff;
}
/*  */

.skills {
    list-style: none;
    font-size: 15px;
    padding: 0;
    color: white;
  }
  .skills .skill {
    display: block;
    position: relative;
    height: 20px;
    margin: 10px auto;
    width: 90%;
  }
  @media only screen and (min-width: 900px) {
    .skills .skill {
      display: inline-block;
      width: 25%;
      margin: 20px;
    }
  }
  .skills .skill:before, .skills .skill:after {
    content: "";
    position: absolute;
    border-radius: 20px;
    margin-top: 40px;
    color: white;
  }
  .skills .skill:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10px;
    background: #eeeeee;
  }
  .skills .skill:after {
    background-color: white;
    background: rgb(0, 0, 0);
    height: 6px;
    top: 2px;
    right: 95%;
    bottom: 2px;
    left: 2px;
    -webkit-animation: fill 2s both;
    -moz-animation: fill 2s both;
    animation: fill 2s both;
  }
  .skills .skill:nth-child(1):after {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .skills .skill:nth-child(2):after {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  .skills .skill:nth-child(3):after {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
  .skills .skill:nth-child(4):after {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
  }
  .skills .skill:nth-child(5):after {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;
  }
  .skills .skill[aria-label=novice]:after {
    right: 75%;
  }
  .skills .skill[aria-label=average]:after {
    right: 50%;
  }
  .skills .skill[aria-label=adept]:after {
    right: 35%;
  }
  .skills .skill[aria-label=advanced]:after {
    right: 20%;
  }
  .skills .skill[aria-label=elite]:after {
    right: 10%;
  }
  .skills .skill[aria-label=pro]:after {
    right: 2px;
  }
  .skills .skill[aria-label=l33tasuar]:after {
    right: -10%;
  }
  
  @-webkit-keyframes fill {
    from {
      right: 100%;
    }
  }
  @-moz-keyframes fill {
    from {
      right: 100%;
    }
  }
  @keyframes fill {
    from {
      right: 100%;
    }
  }
  /*  */
@media (max-width: 992px) {
   .counter {
       margin-bottom: 40px;
   }
}
/*  */


  

  

